params {

    // Input data
    fastq     = "data/sample.fastq"
    reference = "data/hg38_chr22.fa"
    outdir    = "results"

    // Tool binaries (ABSOLUTE PATHS)
    fastqc_bin   = "/home/snehal/miniconda3/envs/bnf/bin/fastqc"
    cutadapt_bin = "/home/snehal/miniconda3/envs/bnf/bin/cutadapt"
    bwa_bin      = "/home/snehal/miniconda3/envs/bnf/bin/bwa"
    samtools_bin = "/usr/bin/samtools"
    bcftools_bin = "/usr/bin/bcftools"
}

process {
    publishDir = [
        path: params.outdir,
        mode: 'copy'
    ]
}
